@import '../../../index.css';

.hero {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 35px;
}

.hero img {
    margin-top: 100px;
    width: 350px;
}

.hero h1 {
    text-align: center;
    width: 70%;
    font-size: 50px;
}

.hero p{
    width: 50%;
    text-align: center;
    font-size: 20px;
    line-height: 36px;
}

.hero-action{
    display: flex;
    align-items: center;
    gap: 35px;
    margin-bottom: 170px;
}

.hero-resume{
    font-size: 20px;
    padding: 25px 75px;
    border-radius: 50px;
    border: 2px solid #000;
    background: transparent;
    transition: 0.5s;
    &:hover{
        border-color: #b415ff;
    }
}