.projects-format{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    padding: 40px;
    border-radius: 10px;
    border: 2px solid black;
    transition: 0.4s;
    cursor: pointer;
    h3 {
        font-size: 25px;
        font-weight: 600;
    }
    p{
        color: #202020;
    }
    &:hover{
        background-image: linear-gradient(45deg, #fdc0d2, #ffe6b8);;
    }
}