.about{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 80px 50px;
}
.about-title{
    position: relative;
    padding: 0 30px;
    font-size: 50px;
    font-weight: 600;
}
.about-sections{
    display: flex;
    gap: 80px;
}
.about-right{
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.about-para{
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 22px;
    font-weight: 400;
}

.about-skills{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.about-skill{
    display: flex;
    gap: 20px;
    align-items: center;
    transition: 0.3s;
    p {
        min-width: 120px;
        font-size: 20px;
        font-weight: 500;
    }
    hr {
        outline: none;
        border: none;
        width: 50%;
        height: 8px;
        border-radius: 50px;
        background: linear-gradient( 264deg, #DA7C25 -5.09%, #B923E1 106.28%);
    }
}

.about-achievements{
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-bottom: 80px;
}

.about-achievement{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    transition: 0.5s;
    h3 {
        font-size: 48px;
        font-weight: 700;
    }
    p { 
        font-size: 22px;
        font-weight: 500;
    }
}

.about-left{
    img {
        margin-top: 100px;
        width: 350px;
    }
}