.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 30px 50px;
}

.contact-title{
    position: relative;
}
.contact-title{
    padding: 0 30px;
    font-size: 50px;
}

.contact-section{
    display: flex;
    gap: 50px;
}

.contact-left{
    display: flex;
    flex-direction: column;
    gap: 20px;
    h3{
        font-size: 40px;
        font-weight: 700;
    }
    p{
        color: #202020;
        font-size: 24px;
        line-height: 35px;
    }
}

.contact-details{
    display: flex;
    flex-direction: column;
    gap: 30px;
    color: #202020;
    font-size: 18px;
    img { width: 25px;}
}

.contact-detail{
    display: flex;
    align-items: center;
    gap: 20px;
}

.contact-right{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 25px;
    label{
        font-size: 20px;
        color: #202020;
        font-weight: 500;
    }
    .form-input{
        width: 700px;
        height: 75px;
    }
    textarea{
        font-family: 'Poppins';
        padding: 25px;
        height: 200px !important;
    }
}